<p>deduction works!</p>
<form>
    <div class="main">
      <div class="deduction">
        <h1>Deduction:-</h1>
        <div formArrayName="deduction" cdkDropList class="example-list">
          <div class="example-box" cdkDrag>
            <input type="text" formControlName="name" placeholder="Deduction " id="deduction name" />
            <img src="" style=" width:17px; height:17px" alt="">
            <img src="./assets/close.png" style="width: 17px; height: 17px;" onclick="document.getElementById('mydeb').value = ''" alt="">
          </div>
        </div>
        <button class="addInput">Add </button>
      </div>
    </div>
  </form>
  
  
 
